@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;

.p-archive-article {
    margin: 20px 20px 62px 20px;

    @include m.lg {
        margin: 37px 40px 106px 40px;
    }

    @include m.xl {
        margin: 70px 100px 150px 100px;
    }

    &__item {
        margin-bottom: 21px;

        @include m.lg {
            display: flex;
        }
    }

    &__img {
        vertical-align: top;
        height: 300px;
        object-fit: cover;

        @include m.md {
            height: 400px;
        }

        @include m.lg {
            width: 50%;
            height: 472px;
        }
    }

    &__inner {
        background-color: c.$a-article-bg;

        @include m.lg {
            width: 50%;
            height: inherit;
        }


        @media screen and (max-width: m.$lg) {
            padding-bottom: 50px;
        }
    }

    &__summary {
        margin: 0 21% 11% 5%;
        padding-top: 8%;

        @include m.lg {
            margin: 0 16% 13% 9%;
        }

        @include m.xl {
            margin: 0 15% 13% 9%;
            padding-top: 11%;
        }
    }

    &__title {
        @include m.xl {
            font-size: 36px;
            line-height: 1.5;
        }
    }

    &__subtitle {
        margin-top: 7%;
        margin-bottom: 3%;

        @include m.xl {
            font-size: 24px;
            line-height: 1.5;
        }
    }

    &__button {
        margin: 0 auto;
        font-size: 16px;
        line-height: 1.2;
        width: 164px;
        height: 42px;
        display: block;
        text-align: center;

        @include m.xl {
            width: 292px;
            height: 76px;
        }
    }
}