@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;

.p-footer {
    background-color: c.$footer-bg;

    .menu {
        display: flex;
        margin: 0 auto;
        width: fit-content;
        padding-top: 40px;
        padding-inline-start: 0%;

    }

    .menu-item {
        a {
            color: c.$footer-color;
            font-family: f.$m-plus;
            font-size: 20px;
            line-height: 1.45;
        }

        &:nth-child(1) {
            position: relative;
            margin-right: 40px;

            &::after {
                content: "";
                width: 1px;
                height: 18px;
                background-color: c.$footer-color;
                position: absolute;
                top: 5px;
                right: -20px;
            }
        }
    }

    &__copyright {
        width: 150px;
        margin: 0 auto;
        padding-top: 34px;
        text-align: center;
    }
}