@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;


// メインビジュアル

.wp-block-cover {
    margin-bottom: 50px;


    .wp-block-cover__inner-container {
        .has-text-align-left {
            text-align: center;
            font-family: f.$m-plus;
            font-size: 36px;
            line-height: 1.5;
            font-weight: bold;

            @include m.lg {
                text-align: left;
                padding-left: 86px;
                font-size: 60px;
                line-height: 1.46;
            }
        }
    }

}


// ページ全体左右マージン

.page-margin {
    margin: 0 20px;

    @include m.lg {
        margin: 0 60px;
    }

    @include m.xl {
        margin: 0 100px;
    }
}


// 見出し一覧

.wp-block-columns {
    margin-bottom: 0;
}

.page-p {
    margin-top: 30px;
    margin-bottom: 34px;

    @include m.lg {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

.page-h4,
.page-h6 {
    margin-top: 31px;
    margin-bottom: 30px;

    @include m.lg {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

.page-h2 {
    font-size: 36px;
}

.page-h3 {
    font-size: 28px;
}

.page-h4,
.page-h5,
.page-h6 {
    font-size: 20px;
}


// 抜粋記事

.wp-block-quote {
    padding: 30px 16px 30px 20px;
    background-color: c.$s-html-bg;

    @include m.lg {
        padding: 50px 56px 60px 50px;
    }

    cite {
        margin-top: 30px;
        font-size: 16px;
        line-height: 1.43;
        color: #4A6C9B;
        border-bottom: 1px solid #4A6C9B;
        display: inline-block;

        @include m.lg {
            margin-top: 60px;
        }
    }
}


// 写真大

.wp-block-image {
    margin-top: 30px;
    margin-bottom: 30px;

    @include m.lg {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}


// 写真・説明文横並び

.has-media-on-the-right {
    margin-top: 30px;
    margin-bottom: 30px;

    @include m.lg {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}



// ギャラリー

.wp-block-gallery.has-nested-images.columns-3 figure.wp-block-image:not(#individual-image) {
    width: 32%;
    flex-grow: 0;

    @media screen and (max-width: (m.$xl)) {
        width: 49%;
    }

    @media screen and (max-width: (m.$md)) {
        width: 100%;
    }
}


// リスト

.list1,
.list2,
.list3,
.list4,
.list5,
.list6 {
    @include m.lg {
        margin-left: 150px;
    }
}

.list1 {
    margin-top: 30px;
    margin-bottom: 20px;

    @include m.lg {
        margin-top: 60px;
    }
}

.list2 {
    margin-left: 38px;

    @include m.lg {
        margin-left: 168px;
    }
}

.list3 {
    margin-top: 20px;
    margin-bottom: 60px;
}

.list5 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 38px;

    @include m.lg {
        margin-left: 168px;
    }
}

.list6 {
    margin-bottom: 30px;

    @include m.lg {
        margin-bottom: 60px;
    }
}


// CODE

.wp-block-code {
    background-color: c.$s-html-bg;
    padding: 50px;
    margin-bottom: 30px;

    @include m.lg {
        margin-bottom: 60px;
    }

    code {
        color: c.$s-color;
        font-family: f.$m-plus;
        font-size: 16px;
        line-height: 1.43;
    }
}


// table

.wp-block-table {
    margin-bottom: 30px;

    @include m.lg {
        margin-bottom: 60px;
    }

    td {
        border: solid 1px c.$s-table-line;
        font-family: f.$m-plus;
        font-size: 16px;
        color: c.$s-color;
        line-height: 1.43;
        padding: 28px 0 27px 30px;
    }
}

.table-left {
    width: 40%;

    @include m.lg {
        width: 30%;
    }
}

.table-right {
    width: 60%;
    border-left: solid 1px c.$s-table-line;

    @include m.lg {
        width: 70%;
    }
}


// ボタン

.l-container .wp-container-5,
.l-container .wp-container-3 {
    display: block;
}

.wp-block-buttons>.wp-block-button {
    display: block;
}

.wp-block-button__link {
    color: c.$s-color;
    background-color: c.$s-button-bg;
    font-family: f.$m-plus;
    font-size: 16px;
    line-height: 1.43;
    border-radius: 20px;
    border: solid 1px c.$s-table-line;
    font-weight: bold;
    width: 100%;
    padding: 30px 0;
    display: block;
}

body .is-layout-flex {
    display: block;
}


// メッセージ太字

.message {
    margin-top: 30px;
    margin-bottom: 177px;
    font-weight: bold;
    color: c.$s-color;

    @include m.lg {
        margin-top: 60px;
        margin-bottom: 228px;
    }

    @include m.xl {
        margin-bottom: 353px;
    }
}