@use "../../foundation/color" as c;
@use "../../foundation/font" as f;

.sub-menu {
    .menu-item a {
        font-family: f.$m-plus;
        font-size: 15px;
        line-height: 1.45;
        color: c.$aside-color;
    }
}